<h1><%= @block.name %></h1>

<div>
  <%= @block.memo %>
</div>

<ul>
  <% @block.tasks.each do |task| %>
    <li><%= task.title %></li>
  <% end %>
  <li>
    <%= form_for [@block, @block.tasks.build]  do |f| %>
      <%= f.text_field :title %>
      <%= f.submit %>
    <% end %>
  </li>
</ul>
